<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">


    <title>Date Picker 1</title>

 
</head>
<body>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleInputEmail1">Name:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="exampleInputPassword1">Email:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleInputEmail1">Phone:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="exampleInputPassword1">Email:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
    </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>


     <div class="row text-center">
        <div class="col"> <p>Select Date and Time to submit the appointment.</p></div>
    </div>

 
    <div class="row d-flex justify-content-center">
        <!-- <div class="col-2"> <input  class="form-control" id="date" type="datetime-local"/></div> -->
        <div class="col-2"> <input  class="form-control" id="date" type="datetime-local"/></div>
        <% if (type == 1) { %>
            <div class="col-1"><button type="button" class="btn btn-primary" onclick="myFunction()">Submit</button></div>
        <%} else if (type == 2) { %>
            <div class="col-1"><button type="button" class="btn btn-success" onclick="myFunction()">Submit</button></div>

        <%} else if (type == 3) { %>
            <div class="col-1"><button type="button" class="btn btn-danger" onclick="myFunction()">Submit</button></div>

        <%} else if (type == 4) { %>
            <div class="col-1"><button type="button" class="btn btn-warning" onclick="myFunction()">Submit</button></div>

        <%} else if (type == 5) { %>
            <div class="col-1"><button type="button" class="btn btn-info" onclick="myFunction()">Submit</button></div>
        
        <%} else if (type == 6) { %>
            <div class="col-1"><button type="button" class="btn btn-light" onclick="myFunction()">Submit</button></div>
        
        <%} else if (type == 7) { %>
            <div class="col-1"><button type="button" class="btn btn-dark" onclick="myFunction()">Submit</button></div>
        <%} else if (type == 8) { %>
            <div class="col-1"><button type="button" class="btn btn-link" onclick="myFunction()">Submit</button></div>
        <%} else if (color) { %>
            <div class="col-1"><button type="button" class="btn" style="background-color: #<%= btnc %>;color:#<%= color %>" onclick="myFunction()">Submit</button></div>
        <% } %>
    </div>
   
    <div class="row text-center">
        <div class="col"> <small>Powered by: Divyanshu Kalola</small></div>
    </div>


         

<script>
    async function myFunction() {



        // ************** working **************
        var details = {
            "guestID": "6390edd8734fd58f91c5e666",
            "location": "Chicago, IL",
            "time": document.getElementById("date").value,
        };

        var formBody = [];
        for (var property in details) {
        var encodedKey = encodeURIComponent(property);
        var encodedValue = encodeURIComponent(details[property]);
        formBody.push(encodedKey + "=" + encodedValue);
        }
        formBody = formBody.join("&");

        fetch('http://localhost:3000/api/appointment?apiKey=<%= apiKey %>', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
        },
        body: formBody
        })
}
 
</script>
 <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/jquery-sticky/jquery.sticky.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>
</html>