<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Server Auth</title>


</head>

<body>
    <main>
        <section>
            <form id="signup" method="post" action="/register" >
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <p><%= csrfToken %></p>
                <label>Email</label>
                <input type="email" name="email" />
                <label>Password</label>
                <input type="password" name="password" />
                <button>Log in</button>
            </form>
        </section>
    </main>

    <script>
        const csrfToken = getCookie('CSRF-TOKEN');

        const headers = new Headers({
                'Content-Type': 'x-www-form-urlencoded',
                'X-CSRF-TOKEN': csrfToken
            });
            return this.fetcher(url, {
                method: 'POST',
                headers,
                credentials: 'include',
                body: JSON.stringify({
                    email: 'test@example.com',
                    password: 'password'
                })
            });
    </script>

    
    
</body>

</html>