<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Server Auth</title>


</head>

<body>
    <main>
        <section>
            <form id="signup" method="post" >
                <label>Email</label>
                <input type="email" name="email" />
                <label>Password</label>
                <input type="password" name="password" />
                <button>Log in</button>
            </form>
        </section>
    </main>


     <script>
            const firebaseConfig = {
                apiKey: "AIzaSyD5D4hc_-Idvb_nsTZBczhIcEn1jZsBLKo",
                authDomain: "aadharcardscanner-72071.firebaseapp.com",
                databaseURL: "https://aadharcardscanner-72071.firebaseio.com",
                projectId: "aadharcardscanner-72071",
                storageBucket: "aadharcardscanner-72071.appspot.com",
                messagingSenderId: "922187200582",
                appId: "1:922187200582:web:d310eacb1badda448c3247"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);

            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)


            document
                .getElementById("signup")
                .addEventListener("submit", (event) => {
                    event.preventDefault();
                    const login = event.target.login.value;
                    const password = event.target.password.value;

                    firebase
                        .auth()
                        .createUserWithEmailAndPassword(login, password)
                        .then(({ user }) => {
                            return user.getIdToken().then((idToken) => {
                                return fetch("/sessionLogin", {
                                    method: "POST",
                                    headers: {
                                        Accept: "application/json",
                                        "Content-Type": "application/json",
                                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                                    },
                                    body: JSON.stringify({ idToken }),
                                });
                            });
                        })
                        .then(() => {
                            return firebase.auth().signOut();
                        })
                        .then(() => {
                            window.location.assign("/profile");
                        });
                    return false;
                });
        </script>
   

    
    
</body>

</html>