<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
</head>
<body>

    <div class="row">
        <div class="col-12"> <iframe src="http://localhost:3000/test?btnc=32a852&color=ffffff&type=1" frameborder="0" width="100%"></iframe></div>
        <!-- btnc = button color 
            color = text color
            type :
             0 = custom
             1 - 8 = inbuilt types-->
    </div>


</body>
</html>